@CHARSET "UTF-8";
.panel-login {
 width: 200px;
 margin-bottom: 20px;
 background-color: #fff;
 border: 1px solid transparent;
 border-radius: 4px;
 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
 box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.body-log{
	margin:0;
	background-image:url("./images/login.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	backgroud-position:center;
	background-color: #CCBBFF;
}

.body-adminhome{
	backgroud-position:center;
}

.deny-ac{
	
}